/* The background */
body {
    background: none;
    background-color: #121212;
    background: url(https://i.imgur.com/Wn5rMbZ.jpg);
    background-size: cover;
}

/* Generic */

/* Scrollbars */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #999999;
    border: 0;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

::-webkit-scrollbar-thumb:active {
    background: #333333;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
    border: 0;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #F0F0F0;
}

::-webkit-scrollbar-track:active {
    background: #F0F0F0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Corner: no more border radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0;
}

/*********************************************/
/* Floating bar */
/*********************************************/
#floatingtoolbar {
    left: 10px; /* Make the bar more close to edge of screen */
    top: 10px; /* Make the bar more close to edge of screen */
    border: 1px solid #444444;
    box-shadow: 1px 1px 3px #000000;
    background-color: #000000;
}

#floatingtoolbar li:hover, #floatingtoolbar li.activebutton {
    color: #111111;
    background-color: #eeeeee;
}

#floatingtoolbar li {
    color: #dddddd;
    padding: 5px 3px; /* Fix to make buttons more square */
    border-bottom: 1px solid #000000;
}

#floatingtoolbar div.submenu {
    top: -11px; /* fix floating submenu not at the right place */
}

#floatingtoolbar div.submenu ul {
    background-color: #000000;
    border-radius: 0;
    border: 1px solid #222222;
    box-shadow: 1px 1px 10px #000000;
}

#editinglayer li.gm_slider_box {
    background-color: #000000;
    color: #dddddd;
}

/* layer selection, the way it was made is horrible. */
#editinglayer.objects div.submenu li.chooseobjects { background-color: #1d5b84; color: #ffffff; }
#editinglayer.map div.submenu li.choosemap { background-color: #1d5b84; color: #ffffff; }
#editinglayer.gmlayer div.submenu li.choosegmlayer { background-color: #1d5b84; color: #ffffff; }
#editinglayer.walls div.submenu li.choosewalls { background-color: #1d5b84; color: #ffffff; } /* actual fix, it doesn't work as intended on roll20 */

/* remove the animation on the zoom submenu, because it's the only one with an animation... */
#floatingtoolbar div.submenu ul.selZoom { animation: none; }
#floatingtoolbar div.submenu ul.selZoom li { animation: none; }

#zoompanel ul li.zoomClickBack {
    background-color: #1d5b84;
    color: #ffffff;
    border: none; /* remove border otherwise when clicked, it moves the text 1px below because of the border */
}

/* colors for measure submenu */
#measure li.activerulermode {
    background-color: #1d5b84; color: #ffffff;
}

/*********************************************/
/* Secondary toolbar */
/*********************************************/
#secondary-toolbar {
    left: 50px;
    top: 10px;
    border: 1px solid #444444;
    box-shadow: 1px 1px 3px #000000;
    background-color: #000000;
    opacity: 1;
}

#secondary-toolbar ul {
    height: 34px;
}

#secondary-toolbar li {
    border: 0;
    padding: 3px 5px;
    color: #ffffff;
}

/*********************************************/
/* Zoom slider */
/*********************************************/
#zoomclick {
    top: 40px;
    opacity: 0.3;
}
#zoomclick:hover {
    opacity: 1;
}

/*********************************************/
/* Page handler */
/*********************************************/
#page-toolbar .handle {
    border: 1px solid #444444;
    color: #eeeeee;
    background-color: #000000;
    border-radius: 0;
    opacity: 1;
    bottom: -34px !important;
    transform: translate(25px, 0);
}

#page-toolbar {
    background-color: #000000;
    left: 0;
    width: 100%;
    border-radius: 0;
}

/*********************************************/
/* Sidebar show/hide button */
/*********************************************/
#sidebarcontrol {
    opacity: 1;
    width: 24px;
    height: 24px;
    border: 1px solid #444444;
    color: #eeeeee;
    background-color: #000000;
    text-align: center;
    transform: translate(-20px, 0);
}
div#sidebarcontrol:hover {
    color: #ffffff;
    transform: translate(-20px, 0);
}

/*********************************************/
/* Sidebar */
/*********************************************/
#rightsidebar {
    border-left: none;
    background-color: #121212;
    background-image: none;
}
#rightsidebar ul.tabmenu {
    background-color: #121212;
    border: 0;
    top: -2px;
}
#rightsidebar .ui-tabs-nav li.ui-state-active a {
    color: #fff;
}
.ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {
    background: #121212;
}
#rightsidebar .ui-tabs-nav li:hover {
    border: none;
}
#rightsidebar .ui-tabs-nav a {
    color: #969696;
    text-shadow: none;
    border: none;
}
#rightsidebar .ui-tabs-nav a:hover {
    color: #ffffff;
    background: #121212;
    border: none;
}

/*********************************************/
/* Chat */
/*********************************************/
.textchatcontainer {
    color: #fff;
}
.textchatcontainer .message.you {
    background-color: #192a56;
}
.textchatcontainer .message.you .spacer {
    background-color: #0a132b;
}
.textchatcontainer .message.system {
    background-color: #28751d;
}
.textchatcontainer .message.system .spacer {
    background-color: #195211;
}
.textchatcontainer .message .spacer {
    background-color: #000000;
}
.textchatcontainer .message.private {
    background-color: #ee6002;
}
.textchatcontainer .message.private .spacer {
    background-color: #e54304;
}
.avatar img {
    border-radius: 100px;
}
.textchatcontainer .tstamp {
    margin: 0;
}

/*********************************************/
/* Chat dice roll & descriptions */
/*********************************************/
.textchatcontainer .formula, .textchatcontainer .rolled {
    background-color: #000000;
    border: 0;
    border-radius: 0;
}
.textchatcontainer .rolled {
    color: #ffffff;
}
.diceroll .backing {
    top: -4px;
    font-size: 35px;
}
.diceroll.critsuccess .didroll {
    color: #4cd137;
}
.diceroll.critfail .didroll {
    color: #e84118;
}
.textchatcontainer .rollresult.quantumRoll {
    background: none;
}
.textchatcontainer .inlinerollresult {
    background-color: #000000;
}
.sheet-rolltemplate-simple div.sheet-container, .sheet-rolltemplate-simple3D div.sheet-container, .sheet-rolltemplate-skill div.sheet-container {
    background: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
}
.sheet-rolltemplate-atk div.sheet-desc.sheet-info, .sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info, .sheet-rolltemplate-dmg div.sheet-desc.sheet-info, .sheet-rolltemplate-desc div.sheet-desc.sheet-info {
    background: none;
    background-color: #000000;
    color: #ffffff;
}
.sheet-rolltemplate-atk div.sheet-container, .sheet-rolltemplate-atkdmg div.sheet-container.sheet-atk, .sheet-rolltemplate-dmg div.sheet-atk {
    background: none;
    background-color: #000000;
    color: #ffffff;
}
.sheet-rolltemplate-atk .sheet-container, .sheet-rolltemplate-atkdmg .sheet-container.sheet-atk, .sheet-rolltemplate-dmg .sheet-atk {
    border-radius: 0;
}
.sheet-rolltemplate-atk a[href^="~"] {
    color: #ffffff;
}
.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-top, .sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-top, .sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-top, .sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-top {
    background: none;
}
.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-middle, .sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-middle, .sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-middle, .sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-middle {
    background: none;
}
.sheet-rolltemplate-atk div.sheet-desc.sheet-info .sheet-bottom, .sheet-rolltemplate-atkdmg div.sheet-desc.sheet-info .sheet-bottom, .sheet-rolltemplate-dmg div.sheet-desc.sheet-info .sheet-bottom, .sheet-rolltemplate-desc div.sheet-desc.sheet-info .sheet-bottom {
    background: none;
}
.sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-atkdmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-dmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-npcaction .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-npcfullatk .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-npcfullatk .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-npcfullatk .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-npcdmg .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-dmgaction .sheet-damagetemplate .inlinerollresult.fullcrit, .sheet-rolltemplate-dmgaction .sheet-damagetemplate .inlinerollresult.fullfail, .sheet-rolltemplate-dmgaction .sheet-damagetemplate .inlinerollresult.importantroll, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-atkdmg .sheet-desc .inlinerollresult.fullfail, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-dmg .sheet-desc .inlinerollresult.fullfail .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullcrit, .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.importantroll, .sheet-rolltemplate-atk .sheet-desc .inlinerollresult.fullfail, .sheet-rolltemplate-mancerroll .inlinerollresult.fullcrit, .sheet-rolltemplate-mancerroll .inlinerollresult.importantroll, .sheet-rolltemplate-mancerroll .inlinerollresult.fullfail, .sheet-rolltemplate-mancerhproll .inlinerollresult.fullcrit, .sheet-rolltemplate-mancerhproll .inlinerollresult.importantroll, .sheet-rolltemplate-mancerhproll .inlinerollresult.fullfail {
    color: #ffffff;
}
.sheet-rolltemplate-dmg div.sheet-container, .sheet-rolltemplate-atkdmg div.sheet-container.sheet-damagetemplate {
    background: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
}
/* The spell description */
.sheet-rolltemplate-npc, .sheet-rolltemplate-npcaction .sheet-container, .sheet-rolltemplate-npcfullatk .sheet-container, .sheet-rolltemplate-npcatk, .sheet-rolltemplate-npcdmg, .sheet-rolltemplate-dmgaction, .sheet-rolltemplate-traits {
    width: 90%;
    padding: 7px;
    border: 1px solid #444444;
    background-color: #000000;
    margin-top: 10px;
}
.sheet-rolltemplate-traits .sheet-header {
    font-family: inherit;
    color: #a92424;
    margin-bottom: 2px;
}
.sheet-rolltemplate-traits .sheet-subheader span {
    font-size: 11px;
}
.sheet-rolltemplate-spell .sheet-container {
    font-family: inherit;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 8px;
    background: url(https://i.imgur.com/Wn5rMbZ.jpg) center center;
}
.sheet-rolltemplate-spell .sheet-title {
    color: #a92424;
    font-weight: bold;
    font-size: 1.2em;
}

/*********************************************/
/* Chat input */
/*********************************************/
#textchat-input {
    border: none;
    color: #ffffff;
    background-color: #121212;
}
#textchat-input textarea {
    background-color: #000000;
    border: 1px solid #222222;
    border-radius: 6px;
    color: #ffffff;
}
#textchat-input label{
    top: 2px;
}
#speakingas {
    background-color: #000000;
    border: 1px solid #222222;
    border-radius: 6px;
    color: #dddddd;
}